In [ ]:

import pandas as pd
import numpy as np

In [ ]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
    
chipo = pd.read_csv(url, sep = '\t')

In [ ]:
chipo.head(10)

In [ ]:
chipo.shape[0]

In [ ]:
chipo.info()

In [ ]:
chipo.shape[1]

In [ ]:
chipo.columns

In [ ]:
chipo.index

In [ ]:
c = chipo.groupby('item_name').agg({
    'quantity': 'sum',       
    'order_id': 'count',
    'item_price':'sum'     
})
c.rename(columns={'order_id': 'order_count'}, inplace=True)
c = c.sort_values('quantity', ascending=False)
c.head(5)

In [22]:
chipo['revenue'] = chipo['quantity'] * chipo['item_price']
item_sales = chipo.groupby('item_name')['revenue'].sum().reset_index()

item_sales['rank'] = item_sales['revenue'].rank(ascending=False, method='dense')

In [23]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price,revenue
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96

In [24]:
item_sales.head()

               item_name  revenue  rank
0      6 Pack Soft Drink   369.93  23.0
1          Barbacoa Bowl   672.36  13.0
2       Barbacoa Burrito   894.75  11.0
3  Barbacoa Crispy Tacos   138.71  30.0
4    Barbacoa Salad Bowl   106.40  32.0